html{
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
	height: 100%;
}

body{
    margin: 0 auto;
    font-size: 18px;
	line-height: 1.5;
    color: #444;
	height: 100%;
}

.wrap {
	display: flex;
	flex-direction: column;
    align-items: stretch;
    min-height: 100%;
}

.centered {
	max-width: 72rem;
	margin: 0 auto;
	padding: 0 1rem;
  text-align: justify;
}

#loesung{
  visibility: hidden;
}

.centeredH {
  max-width: 72rem;
  margin: 0 auto;
  padding: 0 1rem;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

main {
	flex: 1 1 0%
}

footer {
	min-height: 100px;
	flex-shrink: 0;
	#background: #444;
	display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  color: #adadad;
  font-size: 8pt;
}

h1,h2,h3{
    line-height:1.2
}
