@-webkit-keyframes blink {
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes blink {
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes typing {
    from { 
        width: 0% 
    }
    to { 
        width: 100% 
    }
}
body {
  background-color: #151515;
  color: #1ff042;
  font-family: 'Andale Mono', monospace;
    font-weight: bold;
  text-transform: uppercase;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.hidden {
  display: none;
}

.password {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 60px;
  letter-spacing: 5px;
  text-transform: uppercase;
    text-shadow: 0 0 2px rgba(31, 240, 66, 0.75);
}

.granted {
  position: absolute;
  top: 75%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 30px;
}

.info {
  position: absolute;
  top: 0;
  left: 0;
  color: #1ff042;
  display: block;
  font-family: 'AndaleMono', monospace;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.9em;
  letter-spacing: 0.15em;
  white-space: pre-wrap;
  text-shadow: 0 0 2px rgba(31, 240, 66, 0.75);
  line-height: 1.5;
  padding: 5em;
  margin-bottom: 0.75em;
  overflow: hidden;
    animation: typing 5s steps(50, end), blink-caret 0.85s step-end infinite;
    white-space: nowrap;
}
.info p {
  margin: 10px;
}

.button {
  background-color: #111;
  border: solid 1px #1ff042;
    box-shadow: 0 0 2px rgba(31, 240, 66, 0.75);
  padding: 8px 25px;
  font-size: 26px;
  letter-spacing: 2px;
  cursor: pointer;
}

.rerun {
  position: absolute;
  bottom: 15px;
  right: 15px;
}

.start {
  position: absolute;
  top: 50%;
  left: 50%;
    text-shadow: 0 0 2px rgba(31, 240, 66, 0.75);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.blink {
  -webkit-animation: blink 0.8s steps(1, start) infinite alternate;
          animation: blink 0.8s steps(1, start) infinite alternate;
}

